/* Reset margins & paddings */
* {
    margin: 0px;
    padding: 0px;
}

/* Color Theme Swatches in Hex */
.Feng-Shui-Soft-Fire-II-1-hex { color: #D1BF91; } /* Recuadros Texto */
.Feng-Shui-Soft-Fire-II-2-hex { color: #60371E; } /* Texto body */
.Feng-Shui-Soft-Fire-II-3-hex { color: #A6341B; } /* Fondo Menú */ 
.Feng-Shui-Soft-Fire-II-4-hex { color: #F9C743; } /* Texto Menú */
.Feng-Shui-Soft-Fire-II-5-hex { color: #C7C8C4; } /* Fondo body*/

/* Paleta de colores (para pruebas) */
.paleta {
    height: 100px;
    display: flex;;
}

.color-paleta {
    width: 20%;
    background-color: black;
}

.c1 { background-color: #D1BF91}
.c2 { background-color: #60371E}
.c3 { background-color: #A6341B}
.c4 { background-color: #F9C743}
.c5 { background-color: #C7C8C4}

/* ESTILOS */
body {
    background-color: #C7C8C4;
    color: #60371E;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-width: 400px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: bolder;
}

h2 {
    margin-top: 5px;
    margin-bottom: 25px;
    font-style: italic;
}

p {
    margin-block: 15px;
}

p.dir {
    text-align: right;
    font-style: italic;
    font-weight: bold;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #F9C743;
}

a:hover{
    color: #60371E; 
}

.banner {
    /*background-color: #A6341B;  /* No poniendo fondo, no entiendo por qué, pero queda un borde por debajo que no pude sacar*/
    height: 100%;
}

.img-banner {
    width: 100%;
}

.fondo-menu{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A6341B;
    color: #F9C743;
}

.lista-menu {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px #60371E;
}

.cuerpo {
    padding: 30px;
    display: flex;
    flex-direction: column;
    /*align-content: center;  /* No lo logré alinear .recuadro-fondo al centro para achicarlo*/
    /*background-color: aquamarine; /* Test */
}

.recuadro-fondo {
    /*width: 80%;   /* No lo logré centrar como para poder reducirlo. */
    padding: 30px;
    background-color: #D1BF91;
    box-shadow: 3px 3px 5px #60371E;
}

/* Auxiliares */
.vg{
    background-color: grey;
}